<div class="mainbox clearfix bg-f5 pad-b70">
  <!--面包屑-->
  <div class="mbx-navbox">
    <div class="mbx-nav">
      <div class="mbx-nav-l"><a href="#">首页</a><a href="#">店铺头条</a></div>
    </div>
  </div>
  <!---->
  <div class="box fenlei2 clearfix">
    <ul>
      <li><label>分类</label>
        <p><span class="act" ng-click="hotdp('dynamic',1)" tab>动态</span><span ng-click="hotdp('hot',1)" tab>热门</span></p>
      </li>
    </ul>
  </div>
  <div class="sssj-dp-listbox box clearfix dptt-listbox">
    <div class="sssj-dp-list clearfix" ng-repeat="tt in hotdps" id="m{{tt.merchants_id}}">
      <div class="tit" ng-if="delshow==1">猜你喜欢<span ng-click="dpttdel(tt.merchants_id)">&times;</span></div>
      <div class="s-d-l-left">
        <div class="center">
          <ul>
            <li class="sdl-l-1of5"><img ng-src="{{tt.merchants_img}}" /></li>
            <li class="sdl-l-2of5"><label>店铺名：</label>{{tt.merchants_name}}</li>
            <li class="sdl-l-3of5"><label>综合评分：</label>{{tt.merchants_star1/3*2+tt.merchants_star2/3*2+tt.merchants_star3/3*2| number:2}}</li>
            <li class="sdl-l-4of5 mar-b20"><label>店铺简介：</label>{{tt.merchants_desc}}</li>
            <li class="sdl-l-5of5">销量：<span class="blue">{{tt.year_sales}}</span><span class="mar-l20">共<span class="blue">{{tt.goods_total_num}}</span>件商品</span>
            </li>
            <!-- <li class="sdl-l-6of5"><a href="javascript:;" ng-click="dpsc(tt.merchants_id,tt.collection_id,tt.is_collection)">{{tt.is_collection==1?'取消收藏':'收藏店铺'}}</a></li> -->
            <li class="sdl-l-6of5"><a href="#/dianpu?mid={{tt.merchants_id}}">进入店铺</a></li>
          </ul>
        </div>
      </div>
      <!--s-d-l-left end-->
      <div class="s-d-l-right">
        <div class="sdl-listbox">
          <div class="sj-r-list" ng-repeat="shop in tt.goodsBeans" ng-if="$index<3">
            <!--改动2017-7-05 by Paul-->
            <a style="width:230px;height:350px;position:absolute;top:0px;left:0px;" target="_blank" href="index.html#/shop?shopid={{shop.goods_id}}"></a>
            <ul>
              <li class="sj-l-1of5"><img lazy-src="{{shop.goods_img!=''?shop.goods_img:'images/zw1.png'}}" onerror="this.src='images/zw1.png'"
                /></li>
              <li class="sj-l-3of5">{{shop.goods_name}}</li>
              <li class="sj-l-4of5"><span ng-if="shop.brand_name!=''" style="vertical-align:middle;min-width:40px;margin-right:3px;">{{shop.brand_name}}</span>
                <span
                  style="vertical-align:middle;width:36px;font-size:10px;padding:0px;margin-right:0px;" ng-if="shop.show_sku!=null&&shop.show_sku=='1'">货号：</span><span style="vertical-align:middle;font-size:10px;width:64px;margin-right:0px;padding:0px;" class="huo"
                    ng-if="shop.show_sku!=null&&shop.show_sku=='1'">{{shop.goods_sku}}</span></li>
              <li class="sj-l-4of5" style="margin-top:8px;"><span style="font-size:10px;color:#fff;background:#EA2922;line-height:16px;border-radius:2px;height:16px;margin-left:2px;"
                  ng-if="shop.merchants_id == '1'">自营</span><span class="hui" ng-if="shop.tips_id!=0&&shop.tips_id!=null" style="font-size:10px;">惠</span>
                <span
                  class="zhe" ng-if="shop.tips_id!=0&&shop.tips_id!=null" style="font-size:10px;">{{shop.tips_name}}</span>
              </li>
              <li class="sj-l-2of5" style="margin-top:3px;"><span ng-if="shop.is_ask_price=='1'"><img src="./images/askPrice1.png" alt="" style="width:45%;height:50%;margin-top:3px;"></span>
                <span
                  ng-if="shop.is_ask_price=='0'" style="margin-left:0px;font-size:16px;">￥{{shop.goods_pc_price}}</span><span class="t3" ng-if="shop.is_ask_price=='0'&&shop.tips_id!=0&&shop.tips_type=='promotion'"
                    style="font-size:12px;">￥{{shop.goods_origin_price}}</span></li>
              <li class="sj-l-5of5" style="bottom:6px;"><span style="font-size:10px;">评价：<a href="javascript:;">{{shop.assessment_count}}</a></span><span style="font-size:10px;">销量：<a href="javascript:;">{{shop.year_sales}}</a></span></li>
            </ul>

          </div>
        </div>
      </div>
      <!--s-d-l-right end-->
    </div>
    <!--sssj-dp-list end-->

  </div>
  <div class="box">
    <!--分页-->
    <div class="page-box" ng-if="pageNum>1">
      <a href="javascript:;" ng-click="pageclick(nowpageNum-1)">上一页</a>
      <span ng-repeat="page in pageboxs" ng-click="pageclick(page)" ng-class="{act:page==nowpageNum}">{{page}}</span>
      <a class="act" href="javascript:;" ng-click="pageclick(nowpageNum*1+1)">下一页</a> 跳到
      <input type="number" ng-model="nowpageNum2" width="20px;">/{{pageNum}}页<button ng-click="pageclick(nowpageNum2)">确定</button>
    </div>
  </div>

</div>