<!--主体内容-->
<div class="clearfix bg-fff">
  <!--面包屑-->
  <div class="mbx-navbox bg-fff">
    <div ng-if="guidelist" class="mbx-na" style="padding-left:20px;width:1200px;height:48px;line-height:48px;margin:5px auto;background:#EFF7FF;border:1px solid #A5D2FF;color:#999999;font-size:14px;">
      <span>您是否要搜索</span><span ng-if="brandData!=''">品牌为 </span><span ng-repeat="brandlist in brandData"><a target="_blank" href="index.html#/pinpai?bid={{brandlist.guide_value}}" style="color:#EA2922">{{brandlist.guide_name}} </a></span></span>
      <span ng-if="brandData!=''">等的产品？</span><span ng-if="brandData!=''&&classData!=''">还是</span><span ng-if="classData!=''">分类为 </span>
      <span ng-repeat="classlist in classData"><a target="_blank" href="index.html#/shoplist?uuid={{classlist.guide_value}}&gid={{classlist.guide_value}}&sortname={{classlist.guide_name}}"
          style="color:#EA2922">{{classlist.guide_name}} </a></span>
      <span ng-if="classData!=''">等的产品？</span>
    </div>
    <div class="mbx-nav">
      <div class="mbx-nav-l" style="line-height:55px;padding-left:20px;"><a href="#/">首页</a><a href="#/shoplist?gid={{sortTies.l1Class.goods_id}}&uuid={{sortTies.l1Class.goods_id}}&sortname={{sortTies.l1Class.goods_name}}"
          ng-if="sortTies.l1Class.goods_name!=null">{{sortTies.l1Class.goods_name}}</a><a href="#/shoplist?gid={{sortTies.l2Class.goods_id}}&uuid={{sortTies.l2Class.goods_id}}&sortname={{sortTies.l2Class.goods_name}}"
          ng-if="sortTies.l2Class.goods_name!=null">{{sortTies.l2Class.goods_name}}</a><a href="#/shoplist?gid={{sortTies.l3Class.goods_id}}&uuid={{sortTies.l3Class.goods_id}}&sortname={{sortTies.l3Class.goods_name}}"
          ng-if="sortTies.l3Class.goods_name!=null">{{sortTies.l3Class.goods_name}}</a><a href="javascript:;">{{getsortname}}</a></div>
    </div>
  </div>

  <div class="box shop-sorts bg-fff clearfix" ng-if="shoppinpais">
    <!--品牌-->
    <div class="s-s-list clearfix pinpai" ng-repeat="sps in shoppinpais" ng-if="sps.type=='brand'" id="{{sps.type}}">
      <label class="pad-t30">{{sps.name}}</label>
      <div class="s-s-l-pp-list">
        <ul>
          <li ng-repeat="simg in sps.brandBeans" val='{{simg.brand_id}}' ng-click="ssclicks(sps.type,simg.brand_id)" ss-Click>{{simg.brand_name}}</li>
        </ul>
      </div>
      <div class="s-s-l-btn pad-t40">
        <a href="javascript:void(0);" class="dx" ss-Click2>+多选</a>
        <a href="javascript:void(0);" ng-click="ssclicks(sps.type,'')" ss-Click8>清空</a>
        <a ng-if="sps.brandBeans.length>14" href="javascript:void(0);" class="gd" ng-click="moreOtherClick()">更多</a>
      </div>
      <p class="pad-t0"><a class="qr" href="javascript:void(0);" ng-click="dbclicks(sps.type)" ss-Click3>确认</a><a class='qx' href="javascript:void(0);"
          ss-Click4>取消</a></p>
    </div>
    <!--分类-->
    <div class="ppsort ppbor clearfix" ng-repeat="sps in shoppinpais" ng-if="sps.type=='class'" id="{{sps.type}}">
      <label>{{sps.name}}</label>
      <div class="sortbox1">
        <ul>
          <li class="act" tab><span ng-click="ssclicks('fenlei','')">全部</span></li>
          <li ng-repeat="sort in sps.classBeans" sort-top tab>
            <span ng-click="ssclicks('fenlei',sort.goods_id)">{{sort.goods_name}}</span>
            <div class="sortbox2" hidden>
              <ul>
                <li ng-repeat="sort2 in sort.sonClassList">
                  <span ng-click="ssclicks('fenlei',sort2.goods_id)">{{sort2.goods_name}}</span>
                  <!--<div class="sortbox3" hidden>
                      <ul>
                        <li ng-repeat="sort3 in sort2.sonClassList" ng-click="ssclicks('fenlei',sort3.goods_id)" tab>{{sort3.goods_name}}({{sort3.goods_count}})</li>
                      </ul>
                    </div>-->
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="mainbox clearfix bg-f5 pad-b70 pad-t60">
  <div class="box clearfix">
    <div class="main-leftbox w230">
      <div class="rmtj-box2">
        <div class="tit">热门推荐</div>
        <div class="sj-r-list" ng-repeat="rshop in recshop">
          <a style="width:230px;height:350px;position:absolute;top:0px;left:0px;" target="_blank" href="index.html#/shop?shopid={{rshop.goods_id}}"></a>
          <ul>
            <li class="sj-l-1of5"><img lazy-src="{{rshop.goods_img!=''?rshop.goods_img:'images/zw1.png'}}" onerror="this.src='images/zw1.png'"
              /></li>
            <li class="sj-l-3of5">{{rshop.goods_name}}</li>
            <li class="sj-l-4of5"><span ng-if="rshop.brand_name!=''" style="vertical-align:middle;min-width:40px;margin-right:3px;">{{rshop.brand_name}}</span>
              <span style="vertical-align:middle;width:36px;font-size:10px;padding:0px;margin-right:0px;" ng-if="rshop.show_sku!=null&&rshop.show_sku=='1'">货号：</span>
              <span style="vertical-align:middle;font-size:10px;width:75px;margin-right:0px;padding:0px;" class="huo" ng-if="rshop.show_sku!=null&&rshop.show_sku=='1'">{{rshop.goods_sku}}</span>
            </li>
            <li class="sj-l-4of5" style="margin-top:8px;"><span style="font-size:10px;color:#fff;background:#EA2922;line-height:16px;border-radius:2px;height:16px;margin-left:2px;"
                ng-if="rshop.merchants_id == '1'">自营</span><span class="hui" ng-if="rshop.tips_id!=0" style="font-size:10px;">惠</span>
              <span class="zhe" ng-if="rshop.tips_id!=0" style="font-size:10px;">{{rshop.tips_name}}</span>
            </li>
            <li class="sj-l-2of5" style="margin-top:3px;"><span ng-if="rshop.is_ask_price=='1'"><img src="./images/askPrice1.png" alt="" style="width:45%;height:50%;margin-top:3px;"></span>
              <span ng-if="rshop.is_ask_price=='0'" style="margin-left:0px;font-size:16px;">￥{{rshop.goods_pc_price}}</span>
              <span class="t3" ng-if="rshop.is_ask_price=='0'&&rshop.tips_id!=0&&rshop.tips_type=='promotion'" style="font-size:12px;">￥{{rshop.goods_origin_price}}</span>
            </li>
            <li class="sj-l-5of5" style="bottom:6px;"><span style="font-size:10px;">评价：<a href="javascript:;">{{rshop.assessment_count}}</a></span><span style="font-size:10px;">销量：<a href="javascript:;">{{rshop.year_sales}}</a></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-rightbox w956">
      <div class="shop-l-sorts">
        <div class="s-l-s-top">
          <ul class="s-l-s-t-left">
            <li class="act" ng-click="sortway('')" tab>综合</li>
            <li ng-click="sortway('sales')" tab>热销</li>
            <li ng-click="sortway('assessment')" tab>评价</li>
            <li ng-click="sortway('pc_price')" class="s-l-s-t-l-4of4 " tab>价格<span></span></li>
          </ul>
          <ul class="s-l-s-t-right">
            <li class="s-l-s-t-r-1of4"><input type="number" class='minprice' placeholder="¥" />—<input type="number" class='maxprice' placeholder="¥"
              /><button ng-click="funprice()">确认</button></li>
            <li class="s-l-s-t-r-2of4">共<span ng-if="shoptotal<4000">{{shoptotal}}</span><span ng-if="shoptotal>=4000">4000+</span>件商品</li>
            <li class="s-l-s-t-r-3of4"><span class="orange">{{nowpageNum}}</span>/{{pageNum}}</li>
            <li class="s-l-s-t-r-4of4"><span class="top" ng-click="pageclick(nowpageNum*1-1)"><</span><span class="btm" ng-click="pageclick(nowpageNum*1+1)">></span></li>
          </ul>
        </div>
        <div class="s-l-s-add" ng-repeat="sps in shoppinpais" ng-if="sps.type=='storehouse'" id="{{sps.type}}">
          <label>{{sps.name}}</label>
          <div>
            <span>全国</span><small ss-Click6>[切换]</small>
            <ul hidden>
              <li val='' ng-click="ssclicks(sps.type,'')" ss-Click7>全国</li>
              <li ng-repeat="add in sps.storeHouseBeans" val='{{add.storehouse_id}}' ng-click="ssclicks(sps.type,add.storehouse_id)" ss-Click7>{{add.storehouse_name}}</li>
            </ul>
          </div>
        </div>
        <div class="loading" ng-if="loading==1||loading==2">
          <div class="loader">
            <div class="loader-inner line-spin-fade-loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <span ng-if="loading==1">加载中...</span>
          <span ng-if="loading==2" class="red">请求超时...</span>
        </div>
      </div>
      <div class="pinpai-shoplistbox mar-t40 clearfix">
        <!--没有商品时提示-->
        <div style="text-align:center" ng-if="shoptotal===0">
          没有搜到相关商品，去看看其他商品吧
        </div>
        <div class="sj-r-list" ng-repeat="shop in shoplist">
          <!--改动2017-7-05 by Paul-->
          <a style="width:230px;height:350px;position:absolute;top:0px;left:0px;" target="_blank" href="index.html#/shop?shopid={{shop.goods_id}}"></a>
          <ul>
            <li class="sj-l-1of5"><img lazy-src="{{shop.goods_img!=''?shop.goods_img:'images/zw1.png'}}" onerror="this.src='images/zw1.png'" /></li>
            <li class="sj-l-3of5" ng-bind-html="htmlData[$index]"></li>
            <li class="sj-l-4of5"><span ng-if="shop.brand_name!=''" style="vertical-align:middle;width:80px;margin-right:3px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">{{shop.brand_name}}</span>
              <span ng-if="shop.show_sku!=null&&shop.show_sku=='1'">货号：</span><span style="vertical-align:middle;font-size:10px;width:75px;margin-right:0px;padding:0px;"
                class="huo huotest" ng-if="shop.show_sku!=null&&shop.show_sku=='1'" title="" ng-bind-html="skuData[$index]"></span></li>
            <li class="sj-l-4of5" style="margin-top:8px;"><span style="font-size:10px;color:#fff;background:#EA2922;line-height:16px;border-radius:2px;height:16px;margin-left:2px;"
                ng-if="shop.merchants_id == '1'">自营</span><span class="hui" ng-if="shop.tips_id!=0" style="font-size:10px;">惠</span>
              <span class="zhe" ng-if="shop.tips_id!=0" style="font-size:10px;">{{shop.tips_name}}</span>
            </li>
            <li class="sj-l-2of5" style="margin-top:3px;"><span ng-if="shop.is_ask_price=='1'"><img src="./images/askPrice1.png" alt="" style="width:45%;height:50%;margin-top:3px;"></span>
              <span ng-if="shop.is_ask_price=='0'" style="margin-left:0px;font-size:16px;">￥{{shop.goods_pc_price}}</span>
              <span class="t3" ng-if="shop.is_ask_price=='0'&&shop.tips_id!=0&&shop.tips_type=='promotion'" style="font-size:12px;">￥{{shop.goods_origin_price}}</span>
            </li>
            <li class="sj-l-5of5" style="bottom:6px;"><span style="font-size:10px;">评价：<a href="javascript:;">{{shop.assessment_count}}</a></span><span style="font-size:10px;">销量：<a href="javascript:;">{{shop.year_sales}}</a></span></li>
          </ul>
        </div>
      </div>
      <!--分页-->
      <div class="page-box" ng-if="pageNum>1">
        <a href="javascript:;" ng-click="pageclick(nowpageNum-1)">上一页</a>
        <span ng-repeat="page in pageboxs" ng-click="pageclick(page)" ng-class="{act:page==nowpageNum}">{{page}}</span>
        <a class="act" href="javascript:;" ng-click="pageclick(nowpageNum*1+1)">下一页</a> 跳到
        <input type="number" ng-model="nowpageNum2" width="20px;">/{{pageNum}}页<button ng-click="pageclick(nowpageNum2)">确定</button>
      </div>


    </div>
  </div>
</div>